@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Lora";
}

.navBtn {
  position: relative;
}

.navBtn::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s ease-in-out;
}

.navBtn:hover::after {
  width: 100%;
}

.main-container {
  @apply px-10 lg:px-28 py-10 lg:py-28;
}

.x-container {
  @apply px-10 lg:px-28;
}

.y-container {
  @apply py-10 lg:py-28;
}

.svg-container {
  @apply flex justify-center lg:justify-start;
}

.svg-heading {
  @apply inline h-14 lg:h-40 w-fit overflow-x-hidden my-5;
}

.divanime {
  width: 10em;
  height: 10em;
  z-index: 10;
  background-color: white;
  transition: transform 0.35s ease-in-out;
}
